@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2);
  format(".woff2") font-display: swap
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2);
  format(".woff2") font-display: swap
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.button-here {
  font-size: 16px;
  line-height: 20px;
  background: #756157;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  background: #756157;
}

.button-mail {
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
}

/* Light */
.button-light {
  color: #242424;
  background-color: #ffffff;
}

.button-like {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #82B3D3;
}

.button-selected {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #7DB54F;
}

.button-detail {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #756157;
}

.button-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background: #F2F2F2;
}

.button-apply {
  color: #ffffff;
  background: #82B3D3;
}

.button-reset {
  color: #ffffff;
}

/* Pages */

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  width: 138px;
  margin-right: auto;
}

.navigation-list {
  width: 450px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 280px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("../images/foto-welcome.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-sedona {
  display: block;
  margin: 0 auto;
}

/* List */

.advantages {
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

/* Title */
.about-city {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-description {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

.blue {
  width: 1200px;
  display: flex;
}

.blue,
.advantages-white {
  color: #ffffff;
  background: #82B3D3;
  text-align: center;
}

.light-blue,
.advantages-black {
  color: #000000;
  background: rgba(131, 179, 211, 0.12);
  width: 400px;
  height: 385px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}

.medium-blue {
  width: 400px;
  height: 385px;
  background: rgba(131, 179, 211, 0.2);
}

.blue-block {
  text-align: center;
  width: 400px;
  height: 385px;
}

/* Photo bridge */
.photo-bridge {
  color: #ffffff;
  background-color: ##82B3D3;
  background-image: url("../images/foto-bridge.jpg");
}

.photo-town {
  width: 800px;
  height: 385px;
}

/* Services*/

.services {
  font-family: 'PT Sans';
}

.services-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.services-item {
  width: 400px;
  height: 385px;
  padding: 81px 85px;
}

/* Title */
.services-about {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.services-text {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}



.services-description {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}

.services-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-housing,
.services-souvenirs {
  background: rgba(131, 179, 211, 0.12);
}

.services-meal {
  background-color: #ffffff;
}

.services-item {
  Width: 400px;
  Height: 385px;
}

/* Searh */

.interested {
  background: #ffffff;
  text-align: center;
}

.interested-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.footer-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

/*Subscription*/

.newsletter {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/foto-footer.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
}

.footer-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.footer-description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

/* Social */

.footer-social-list {
  text-align: left;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.page-footer a {
  color: #83B3D3;
}

.page-footer .contacts-phone {
  color: #000000;
}

.page-footer .htmlacademy-link {
  color: #000000;
  text-decoration: none;
}

.main-inner a {
  text-decoration: none;
}

/* Catalog */

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

/* Breadcrumbs */
.breadcrumbs {
  color: #ffffff;
}

/* Link */
.breadcrumbs-link {
  color: inherit;
}

/* Title */
.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

/* Label */
.control-label {
  font-weight: 700;
}

.sorting-container {
  color: #ffffff;
  background-color: #000000;
}

/* Item */
.hotel-card {
  background-color: #ffffff;
}

/* Link */
.hotel-card-link {
  text-decoration: none;
}

/* Title */
.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.description-housing {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* Price */
.price-housing {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

/* Link */
.pagination {
  background-color: #ffffff;
}

.pagination-link {
  color: #ffffff;
  background-color: #82B3D3;
  ;
  text-decoration: none;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
}

.pagination-current {
  color: #242424;
  background-color: #F2F2F2;
}

.pagination-next {
  color: #000000;
  background: #ffffff;
}

.inner-header {
  color: #ffffff;
  background-color: #82B3D3;
  background-image: url("../images/catalog-directory.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.footer-catalog {
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}
